@model WebApp_Manha1.Entidades.PermissaoEntidade

<form action="/Permissao/SalvarDados" method="post">
    <input type="text" name="Descricao" />
    <br />

    <button type="submit">
        salvar
    </button>

</form>